{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Cadastro{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
        <div class="col">
            <br>
            <h2>Cadastro </h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}
                <br>
                <button type="submit" class="badge text-bg-dark" >Cadastrar</button>
                <a href="{% url 'person_list' %}"> <span class="badge text-bg-danger"> Cancelar </span>
            </form>
        </div>
        <div class="col">
        </div>
        </div>
    </div>
{% endblock %}
{% block footer%}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Todos dos direitos reservados</span>
        </div>
    </footer>
{% endblock %}