{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Cadastro{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
        <div class="col">
            <br>
            <h2>Cadastro </h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}
                <br>
                <button type="submit" class="btn btn-outline-dark btn-sm" >Cadastrar</button>
            </form>
        </div>
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            <a href="{% url 'person_list' %}"> <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" /> <span class="material-symbols-outlined">
undo
</span></a>
        </div>
        </div>
    </div>

{% endblock %}