{% extends 'base.html' %}

{% block title %}Lista de Clientes{% endblock %}

{% block main %}
    <ul>
        {% for person in persons %}
        <h2>Lista de Clientes</h2>
            <li>
                <a href="{% url 'persons_update' person.id %}" class="link-dark"> {{ person.first_name }}</a>
                <a href="{% url 'persons_delete' person.id %}" class="btn btn-outline-warning btn-sm" >Excluir</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'person_new' %}" class="btn btn-outline-dark btn-sm" >Novo Cadastro</a>
    <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm" > Sair </a>
{% endblock %}